<div class="jumbotron text-center">
    <h1>Future Tech Frontier</h1>
    <p class="lead">Future Tech Frontier is an web portfolio made using the MEAN Stack and authentication - navigate through a custom REST API with included token-based authentication.</p>
    <div>
        <a class="btn btn-primary" [routerLink]="['/register']">Register</a> <a class="btn btn-default" [routerLink]="['/login']">Log In</a>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Express Backend</h3>
        <p>A rock solid NodeJS/Express server using Mongoose to organize models and query the database</p>
    </div>
    <div class="col-md-4">
        <h3>Angular Frontend</h3>
        <p>Angular CLI to generate components, services and more. Local dev server and easy compilation</p>
    </div>
    <div class="col-md-4">
        <h3>JWT Tokens</h3>
        <p>Full featured authentications using JSON web tokens. Login and store user data securely</p>
    </div>
</div>