<main role="main">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Future Tech Notes</h1>
            <p class="lead text-muted">A collection of ideas, thoughts and nuggets of knowledge which was gathered over the years.</p>
        </div>
    </section>

    <div class="containter">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <h3>Note Example</h3>
                    <hr>
                    <p>These cards will hold notes and blog entries. Users will
                        be able to: post, update, like, share, comment, and much
                        more.</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <h3>Note Example</h3>
                    <hr>
                    <p>These cards will hold notes and blog entries. Users will
                        be able to: post, update, like, share, comment, and much
                        more.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <h3>Note Example</h3>
                    <hr>
                    <p>These cards will hold notes and blog entries. Users will
                        be able to: post, update, like, share, comment, and much
                        more.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <h3>Note Example</h3>
                    <hr>
                    <p>These cards will hold notes and blog entries. Users will
                        be able to: post, update, like, share, comment, and much
                        more.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <h3>Note Example</h3>
                    <hr>
                    <p>These cards will hold notes and blog entries. Users will
                        be able to: post, update, like, share, comment, and much
                        more.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <h3>Note Example</h3>
                    <hr>
                    <p>These cards will hold notes and blog entries. Users will
                        be able to: post, update, like, share, comment, and much
                        more.</p>
                </div>
            </div>
        </div>
    </div>
</main>